<h4 *ngIf="currentUser">Welcome to {{mcar.modelM}} forums, {{currentUser.username}}</h4>
<button [routerLink]="['/new-post', mcar._id]" class="btn waves-effect waves-light">Add New Post
  <i class="material-icons right">add</i>
</button>
<div class="posts">
  <div *ngFor="let onePost of mcarPosts">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            {{ onePost.owner }}:
            <br> 
            {{ onePost.title}}
            <br> 
            {{ onePost.text }}
            <a [routerLink]="['/forums', onePost._id, '/discussions']" class="btn waves-effect waves-light discussion-btn">Reply
          <i class="material-icons right">chat</i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
