<h4 *ngIf="currentUser">Welcome to {{mcar.modelM}} forums, {{currentUser.username}}</h4>
<input style="width:90%;margin-left:10px;" type="text" placeholder="Search posts" [(ngModel)]="pattern">
<button [routerLink]="['/new-post', mcar._id]" class="btn waves-effect waves-light post-btn">Add New Post
  <i class="material-icons right">add</i>
</button>
<!-- <div class="carPhoto">
	<img class="car-img" [src]="baseUrl + mcar.image">
</div> -->
<div class="posts">
  <div *ngFor="let onePost of mcarPosts | filter:'title':pattern; let i = index">
    <div class="row">
      <div class="col s12 m6">
        <div class="card z-depth-3">
          <div class="card-content">
            {{ onePost.owner }}:
            <br> 
            {{ onePost.title}}
            <br> 
            {{ onePost.text }}
            <br>
            <a [routerLink]="['/forums', onePost._id, 'discussions']" class="btn waves-effect waves-light discussion-btn">Reply
          <i class="material-icons right">chat</i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
