.car-img {
	width: 270px;
	height: 160px;
	margin-top: 5px;
}

a, button {
	background-color: #000;
}

button {
	float: right;
	margin: 50px 100px 0 0;
}

.update-btn {
	float: right;
}

.forums-btn {
	margin: 0 20px 30px 20px;
}

