h2, h4 {
	text-align: center;
}

span {
	margin-top: 10px;
}



.postings-content {
	color: #fff;
}

.replies-form {
	margin-left: 10px;
}


textarea {
	height: 200px;
	width: 450px;
	margin: 10px 10px 10px 0;
}

button {
	background-color: #000;
}

